.btn-floating {
    position: absolute;
    border: none;
    font-size: 20px;
    border-radius: 0;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #5B7493;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
    .btn-floating {
        font-size: 14px; 
    }
}
@media screen and (max-width: 576px) {
    .btn-floating {
        font-size: 12px; 
    }
}

.text-floating {
    position: absolute;
    bottom: 5%;
    left: 60%;
    z-index: 1;
    text-align: left;
}

.text-floating-product-name {
    color: #ffffff;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.text-floating-description {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.text-floating-price {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    .text-floating-product-name {
        font-size: 20px; 
    }
}
@media screen and (max-width: 576px) {
    .text-floating-product-name {
        font-size: 18px; 
    }
}

@media screen and (max-width: 768px) {
    .text-floating-description, .text-floating-price  {
        font-size: 14px; 
    }
}
@media screen and (max-width: 576px) {
    .text-floating-description, .text-floating-price  {
        font-size: 12px; 
    }
}

.btn-shopping:hover,
.btn-floating:hover {
    background-color: #2f4561 !important;
    color: #ffffff !important;
}

.btn-shopping {
    background-color: #5B7493 !important;
    color: #ffffff !important;
    font-size: 20px  !important;
    border-radius: 0; 
    border: none !important;
    padding: none !important;
    margin: none !important;
}

@media screen and (max-width: 768px) {
    .btn-shopping  {
        font-size: 14px; 
    }
}
@media screen and (max-width: 576px) {
    .btn-shopping  {
        font-size: 12px; 
    }
}

section#about-us {
    text-align: center;
    background-color: #f8f8f8;
    padding: 80px 50px;
    border-top: 1px solid #ddd;
}

section#about-us h2 {
    color: #555555dd;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    section#about-us h2  {
        font-size: 18px; 
    }
}
@media screen and (max-width: 576px) {
    section#about-us h2  {
        font-size: 16px; 
    }
}

section#about-us p {
    color: #777;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    section#about-us p  {
        font-size: 14px; 
    }
}
@media screen and (max-width: 576px) {
    section#about-us p  {
        font-size: 12px; 
    }
}

section#about-us::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background-color: #ddd;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
}